.heading-l {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.26;

  @screen sm {
    font-size: 2.5rem;
  }
}

.heading-m {
  font-size: 1.5rem;

  @screen sm {
    font-size: 1rem;
  }
}

.heading-s {
  font-size: 1.25rem;

  @screen sm {
    font-size: 0.75rem;
  }
}

.heading-xs {
  font-size: 1rem;

  @screen sm {
    font-size: 0.65rem;
  }
}

.heading-m,
.heading-s,
.heading-xs {
  font-weight: 700;
  line-height: 1.3;
}

body {
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 500;
}
